body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
html, body, #map {
    height: 100%;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: #0000FF;
}

#devicelist {
  /*border: 1px solid;*/
  width: 460px;
}

th {
  border-bottom: 1px solid;
}

#requests {
  border-left: 1px solid;
}

#menu img {
  width: 40px;
}

#home {
  font-size: 150%;
}

.more {
  font-size: 150%;
  float:right;
}

.fresh {
  background-color: #00FF99; #light green
}

.stale {
  background-color: gray;
}